[Unit]
Description=Toloka search bot for Telegram
After=network.target

[Service]
User=nailer_elgoat
WorkingDirectory=/home/nailer_elgoat/tolokasearchbot
ExecStart=/usr/local/bin/pipenv run python main.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
