[Unit]
Description=Toloka search bot for Telegram
After=network.target

[Service]
User=nailer_elgoat
WorkingDirectory=/home/nailer_elgoat/toloka
ExecStart=/home/nailer_elgoat/toloka/venv/bin/python main.py
Environment=token=648415868:AAE7w9u6WyxFLkwi4SvE-Ju4WDGQ4uOMiCg
Restart=always

[Install]
WantedBy=multi-user.target
