[Unit]
Description=Toloka search bot for Telegram
After=network.target

[Service]
User=telegrambot
WorkingDirectory=/home/telegrambot/toloka
ExecStart=/home/telegrambot/toloka/venv/bin/python main.py
Environment=token=123456789:ABCDEFGabcdefg123456789
Restart=always

[Install]
WantedBy=multi-user.target
